{% extends 'base.html' %}
{% load static %}



{% block content %}



	<!-- Page Content -->
	<section class="py-5">
    <div class="container" style="text-align: center;">
      <select name="task" id="id_task" class="custom-select">
        <option value="Null"> Select a Task </option>
        {% for task in tasks %}
         <option value="{{task.id}}">{{task.tsk_title|capfirst}}</option>
        {% endfor %}
      </select>
    </div>  
		<div class="container pomodoro_controller_content" style="text-align: center;" >
      <div class='clock' id='grad'>
        <p class='title'>Pomodoro</p>
        <p class='timer'>25</p>
      </div>
      <div class='timers'>

       <div class='break'>
        <p>Session Time</p>
        <div>
          <button class='in' id='minusCount'>-</button>
          <p class='in' id='count'> 25 </p>
          <button class='in' id='plusCount'>+</button>
        </div>
        
      </div>

      <div class='break'>
        <p>Short Break</p>
        <div>
          <button class='in' id='minusBreak'>-</button>
          <p class='in' id='break'>5</p>
          <button class='in' id='plusBreak'>+</button>
        </div>
      </div>
      
      <div class='session'>
        <p>Long Break</p>
        <div>
          <button class='in' id='minusLongBreak'>-</button>
          <p class='in' id='long_break'>5</p>
          <button class='in' id='plusLongBreak'>+</button>
        </div>
      </div>
      <div class='timers'>
        <label class="switch">
          <input type="checkbox" id="pomodoro_controller">
          <span class="slider round"></span>
        </label>  
      </div>
    </div>

  </div>
  <div class="container" style="text-align: center; margin-top: 40px;" >
    <p>To start the countdown click the clock!</p>
    <p>Pause and unpause by tapping the clock!</p>
    <p>To reset the clock, choose your new times when the clock is paused and then click the clock!</p>




  </div>  




</section>

{% endblock %}