{% extends 'base.html' %}
{% load static %}



{% block content %}



	<!-- Page Content -->
	<section class="py-5">
		<div class="container" style="text-align: center;">
      <div class='clock' id='grad'>
        <p class='title'>Session</p>
        <p class='timer'>25</p>
      </div>
      <div class='timers'>

       <div class='break'>
        <p>Session Time</p>
        <div>
          <button class='in' id='minusCount'>-</button>
          <p class='in' id='count'> 25 </p>
          <button class='in' id='plusCount'>+</button>
        </div>
        
      </div>

      <div class='break'>
        <p>Short Break</p>
        <div>
          <button class='in' id='minusBreak'>-</button>
          <p class='in' id='break'>5</p>
          <button class='in' id='plusBreak'>+</button>
        </div>
      </div>
      
      <div class='session'>
        <p>Long Break</p>
        <div>
          <button class='in' id='minusBreak'>-</button>
          <p class='in' id='break'>5</p>
          <button class='in' id='plusBreak'>+</button>
        </div>
      </div>
    </div>

    <p>To start the countdown click the clock!</p>
    <p>Pause and unpause by tapping the clock!</p>
    <p>To reset the clock, choose your new times when the clock is paused and then click the clock!</p>




  </div>



</section>

{% endblock %}